<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Security Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="{{ url_for('static', filename='images/imc2.png') }}" alt="IMC">
            <h3>CyberSecurity Assistant</h3>
        </div>
        <div class="chat-box" id="chat-body">
            <p>Welcome To IMC</p>
        </div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Type a message...">
            <button id="send-button">&#10148;</button>  
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
